* {
  font-family:'Courier New', Courier, monospace;
}

/* nav bar */
#nav{
  background-color: #213555;  
}
.nav-title, .nav-link {
 
  transition: color 0.3s, text-shadow 0.3s; 
}

.nav-title:hover, .nav-link:hover {
  text-shadow: 2px 2px 15px #F5EFE7; 
}

#nav.navbar {
  box-shadow: 0 10px 10px rgba(78, 78, 78, 0.756); 
}

#nav.navbar.navbarScroll {
  box-shadow: 0 10px  10px rgba(78, 78, 78, 0.756); 
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

/* main section */
#main , #about{
  background-color: #F5EFE7;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px #4F709C;
  padding-top: 30px;

}


.button {
  background-color: #176B87; 
  color: #F5EFE7; 
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px groove #176B87;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; 

}
.button:hover {
  background-color: #F5EFE7; 
  color: #176B87; 
}


/* about section */
.imageAboutPage {
  width: 100%;
  box-shadow: 2px 2px 5px rgb(134, 133, 133);
  border-radius: 5px;
}

.skills_programming{
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.main_title{
  color: #4F709C;
  font-weight: bold;
  padding-left: 20px;

  
}
.sub-title{
  font-weight: bold;
}

@media screen and (min-width: 375px) {
  #main , #about{
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  #main, #about{
    padding: 80px;
  }
}

@media screen and (min-width: 1200px) {
  #main , #about{
    padding: 40px;
    padding-top: 70px;
  }
} 





/* projects page */
#my-project{
  background-color: #F5EFE7;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.projects-container{
  justify-content: center;
  background-color: #F5EFE7;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:20%;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.container {
  padding: 2px 16px;
  font-family: 'Courier New', Courier, monospace;
}
.card-title {
  font-size: large;
  font-weight: bold;
}

#my-project .subheader-text {
  text-align: center; 
  font-weight: bold;
  padding-bottom: 20px;
} 

a.card-button {
  text-decoration: none;
  color: black;
  background-color: #D8C4B6;
  padding: 12px 10px;
  border-radius: 50px;
  border-style: outset;
  transition: background-color 0.3s, color 0.3s; 
}

a.card-button:hover {
  background-color: #A6B1E1; 
  color: #176B87; 
  border-style: inset;
}

@media (max-width: 375px) {
  #my-project {
    padding: 30px; 
    padding-top:90px
  }

  .card {
    width: 90%; 
  }

  a.card-button {
    padding: 10px 8px; 
  }
}
@media (min-width: 1200px) {
  #my-project {
    padding: 90px; 
  }

  a.card-button {
    padding: 10px 12px; 
  }
}



/* experiance page */
#Experiance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5EFE7;
  padding: 50px 0;
}

.all-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCF5ED;
  padding: 50px;
  margin: 20px;
  width: 90%;
  box-shadow: 1px 1px 20px #D8C4B6;

}

.all-section h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.Experiance-entry {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}

.Experiance-title {
  font-size: 30px;
  font-weight: bold;

}

@media (max-width: 375px) {
  .all-section {
    margin: 5px; 
  }

  .Experiance-entry {
    padding: 8px;
    margin: 8px; 
  }

  .all-section h2 {
    font-size: 20px;
  }

  .Experiance-title {
    font-size: 20px;
  }
}


/* contact me */
footer {
  background-color: #213555;
  padding: 20px;
  text-align: center;
  box-shadow: 10px 10px 20px #4F709C;
}

footer .col-lg-6 {
  display: inline-block;
  text-align: left;
  padding: 20px;
}

footer h5 {
  font-weight: bold;
  font-size: 18px;
  color: #F5EFE7
}

footer a{
  color:white;
  text-decoration: none;
}

.icon-link:hover{
  box-shadow: 0 0px 16px  #D8C4B6;
}
